<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script>
        function togglePressed(checkbox) {
          // Get the <p> element associated with the clicked checkbox
          var paragraph = checkbox.nextElementSibling;
        
          // Toggle the class
          if (checkbox.checked) {
            paragraph.classList.add('pressed');
          } else {
            paragraph.classList.remove('pressed');
          }
        }
        </script>
</head>
<body>
    <header>
        <svg viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000" transform="matrix(1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.192"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 13H8M6 17H8M11 13H13M11 17H13M16 13H18M16 17H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        <div><a>Today</a></div>
    </header>
    <div class="day">
        <h2><%= title%> </h2>
    </div>
    <div class="upContainer">
        <div class="container">    
            <div class="todo">
                <% for (let i = 0; i < todoList.length; i++) { %>
                    <div class="in">
                        <input type="checkbox" onclick="togglePressed(this)">
                        <p><%= todoList[i] %></p>
                    </div>
                <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="new task" autocomplete="off">
                    <button type="submit" name="list" value="Thursday, <%= monthAndDay %>">+</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>